# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# Frontend
node_modules/
dist/

# ML models and datasets
*.pt
*.mp4

# Database
*.db
*.sqlite
*.sqlite3

# System / IDE
.DS_Store
.vscode/

# Jupyter
.ipynb_checkpoints/
settings.json
